langchain
langgraph
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-qdrant
sentence-transformers
transformers


qdrant-client

rank-bm25

fastapi
uvicorn

streamlit

pypdf
python-docx
unstructured

python-multipart

pydantic
python-dotenv

tiktoken

langsmith

google-generativeai
langchain-google-genai

tavily-python

numpy
pandas
pytest
httpx
langchain_experimental
langchain-qdrant
langchain-groq
pymupdf
langchain-tavily
rank_bm25